:root { /* for that windows 95 look */
  background-color: #008081;
}

#text-area {
  margin-top: 1em;
  padding-inline: 0.5em;
  border: 2px solid gray;
  background-color: lightgray;
  max-width: 96ch; /* !ECIN */
  text-align: left;
}

#text-area p {
  color: green;
  margin-block: 4px;
}

#text-area p.eliza {
  color: blue;
}

#text-area p.de-a {
  color: black;
}

#inp {
  width: 92ch;
}

a {
  color: purple;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
}
