:root { /* for that windows 95 look */
  background-color: #008081;
}

#text-area {
  margin-top: 1em;
  padding-inline: 0.5em;
  border: 2px solid gray; /* the most exciting of colors! */
  background-color: lightgray;
  max-width: 96ch; /* !ECIN */
  text-align: left; /* as all things should be */
}

#text-area p {
  color: green; /* It's always morally correct */
  margin-block: 4px;
}

#text-area p.eliza {
  color: blue;
}

#text-area p.de-a {
  color: black;
}

#inp/*ut*/ {
  width: 92ch;
}

a {
  color: purple;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
}

/*
   ___________________________________________
 /|  ___________________O___________________  |
 || |                                       | |
 || |                                       | |
 || |       _________________________       | |
 || |      |     NAME : |de-alchmst| |      | |
 || |      |             __________  |      | |
 || |      | PASSWORD : |__________| |      | |
 || |      |_________________________|      | |
 || |                                       | |
 || |                                       | |
 || |                                       | |
 || |                                       | |
 || |                                       | |
 || |_______________________________________| |
 +|___________________________________________|
 |\     ---                         O O O  []  \
 |/\  _________________________________________ \
 \\ \ \__\__\__\__\__\__\__\__\__\__\__\__\__\_\ \
  \\/\ \__\__\__\__\__\__\__\__\__\__\__\__\____\ \
   \ /\ \___\__\__\__\__\__\__\__\__\__\__\__\_  \ \
    \\/\ \____\__\__\__\__\__\__\__\__\__\__\__\__\ \
     \ /\ \__\__\__\__\__\__\__\__\__\__\__\__\____\ \
      \\/\ \___\__\__\__\____________\__\__\__\__\__\ \
       \  \               \____\\___\       \__\__\__\ \
        \O \               \         \                  \
         \  \_______________\_________\__________________\
          \/_____________________________________________/
*/
