html, body {
  margin: 0;
  padding: 0;
  height: 98%;
}

#container {
  border: 1px solid black;
  margin: .5em;
  max-width: 120vh;
  height: calc(100vh - 2em);
  text-align: center;
}

#content-image {
  max-width: 100%;
  max-height: 60vh;
  margin-block: 1em;
}

#nametag {
  margin-right: auto;
}

#bar {
  display: flex;
}

#bar, #text-area {
  margin-inline: auto;
  border: 1px solid black;
  text-align: left;
  max-width: 90vh;
  padding: .3em;
}

#text-area {
  margin-block: .5em;
  font-size: 1.2em;
}
